<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand"
    <link rel="stylesheet" href="header.css">
    <script src="header.js"></script>
</head>
<body>
    <div class="center">
        <h1 id="word">
          <span class="letter">F</span>
          <span class="letter">e</span>
          <span class="letter">u</span>
          <span class="letter">.</span>
          <span class="letter">d</span>
          <span class="letter">e</span>
          <span class="letter">.</span>
          <span class="letter">F</span>
          <span class="letter">o</span>
          <span class="letter">r</span>
          <span class="letter">ê</span>
          <span class="letter">t</span>
        </h1>
        <div id="test"></div>
      </div>
</body>
</html>