/* Abhaya Libre */

@font-face {
    font-family: 'Abhaya Libre';
    src: url('../fonts/Rokkitt/static/Rokkitt-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Abhaya Libre';
    src: url('../fonts/Rokkitt/static/Rokkitt-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Abhaya Libre';
    src: url('../fonts/Rokkitt/static/Rokkitt-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Abhaya Libre';
    src: url('../fonts/Rokkitt/static/Rokkitt-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}