­<Banner>
<!DOCTYPE html>
<html lang="en">
<head>
  <div class="name">
    <div class="letter">B</div>
    <div class="letter">O</div>
    <div class="letter">T</div>
    <div class="letter">T</div>
    <div class="letter">I</div>
    <div class="letter">N</div>
    <div class="letter">E</div>
    <div class="letter">S</div>
  </div>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
</head>
<body>
  html {
    height:100%;
  }
  body {
    min-height:100%;
    height:auto;
    font-family:"Dancing script";
    font-size: 3.5rem;
    color:#4682B4;
    background:#f1f1f1;
    display:flex;
    .name {
      display:flex;
      margin:auto;
      padding:0 1rem 1rem;
      position: relative;
      &:before {
        content:'';
        width:100%;
        background:#778899;
        opacity:0.3;
        bottom:0;
        height: 1px;
        left:0;
        position:absolute;
      }
      .letter {
        display:inline-block;
        opacity:1;
        transform:scale(0.9);
      }
    }
  }
 </body> 
 <script>
var opac = anime({
  targets: '.letter',
	opacity:1,
  scale:1,
	easing:'easeInBounce',
	delay: function(el, index) {
	  return index * 80;
	},
  direction: 'alternate',
  loop: true
});
</script>
</html>
</Banner>
